
@import url('dsn001a_sesh.css');
/* responsive demo 1 ( with child prompts, cc preauth, menus, enquiries !*/

div#headerdiv, div#restaurant {
    display: none;
}

div#main {
    display: flex;
    flex-wrap: wrap;
}

div#col1, div#col2 {
    width: 45%;
    border: 1px solid black;
    padding: 20px;
}

#DropDownListSesh {
    display: block;
}

#DropDownListCovers {
    display: block;
}

table#Calendar1 {
    width: 100%;
}

table#Calendar1 table.cal_title {
    width: 100%;
}