
@import url('https://use.typekit.net/xzk2peo.css');
/* responsive demo 1 ( with child prompts, cc preauth, menus, enquiries !*/

body, option {
    color: #232A58;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
}

div#headerdiv, div#restaurant {
    display: none;
}

div#main {
    display: flex;
    flex-wrap: wrap;
}

div#col1, div#col2 {
    width: 45%;
    border: 1px solid black;
    padding: 20px;
}

#DropDownListSesh, #DropDownListCovers {
    display: block;
    border: 1px solid black;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 12px 0px 12px 7px;
}

table#Calendar1 {
    width: 100%;
}

table#Calendar1 table.cal_title {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    font-weight: 500;
}

table#Calendar1 td.cal_nextprev {
    width: 90px;
}

th.cal_dayheader, td.cal_notavail, td.cal_day, td.cal_weekend, td.cal_othermonth {
    padding-top: 10px;
}